$brandon-grotesque: "brandon-grotesque", sans-serif;

$primary-color: green;
$backgroundColor: #202020;

* {
  text-transform: uppercase;
  font-family: $brandon-grotesque;
  letter-spacing: 0.2em;
  font-weight: 500;
  color: $primary-color;
}

body {
  background-color: $backgroundColor;
}
.main {
  width: 85%;
  padding-top: 40px;
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  a {
    font-size: 24px;
    color: $primary-color;
    text-decoration: none;
  }
}

.navbar {
  float: right;
  margin-top: 10px;
  ul {
    list-style: none;
    list-style-image: none;
    li {
      float: left;
      color: #209116c9;
      font-size: 16px;
      position: relative;
      margin-right: 50px;
      a {
        font-size: inherit;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .navicons {
    font-size: 20px;
  }
}

.content {
  width: 100%;
  height: auto;
  position: relative;
}

.description {
  padding: 10px;
  text-align: center;
}

.controller {
  text-align: center;
  float: right;
  top: 50vh;
  right: 5vw;
  position: relative;
  height: 10em;
  width: 20em;
  margin: auto;
  .row {
    height: inherit;
    .col {
      margin: auto;
      height: 50%;
      .ant-btn {
      }
    }
  }
}

.canvas {
  width: 80%;
  margin-left: 10%;
  margin-top: 10vh;
  background-color: black;
  border-color: #151911;
  border-style: solid;
  border-width: 20px 40px 20px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.55);
  box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.55);
}

.video {
  width: 280px;
  height: 210px;
  position: absolute;
  top: 20%;
  right: 5vw;
  border: 5px solid #151911;
  -webkit-box-shadow: 1px 2px 50px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 50px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 50px 15px rgba(0, 0, 0, 0.75);
}

.strip {
  height: auto;
  min-height: 200px;
  max-height: 300px;
  width: 100%;
  margin: 20px;
  padding-bottom: 20px;
  border-top: solid 5px black;
  overflow: scroll;
  .videoLink {
    height: 200px;
  }
}

.strip a {
  img {
    height: 200px;
    width: auto;
    margin: 15px;
  }
}
.videoStrip {
  height: auto;
  min-height: 200px;
  max-height: 300px;
  width: 100%;
  margin: 20px;
  padding-bottom: 20px;
  border-top: solid 5px black;
  overflow: scroll;
  .videoLink {
    height: 200px;
  }
  a video {
    height: 250px;
    margin: 15px;
  }
}

.footer {
  margin-bottom: 30px;
}
